Source: intframework
Section: pentest
Priority: optional
Maintainer: intikam21 intapp21@gmail.com
Build-Depends: debhelper (>= 11), python3, python3-requests, python3-scrapy
Standards-Version: 4.5.0
Homepage: https://github.com/Intikam21kurucu/intframework

Package: intframework
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, python3, python3-requests, python3-scrapy
Description: The best Hacking and Modular Framework
 The Intikam21 Framework provides extensive hacking and modular features.